@page "/collection"
@using LiteDB
@using SharpCompress.Archives
@using SharpCompress.Archives.Rar

<button onclick="@Display">Display Collection</button>
@if (collection != null)
{
    <ul>
        @foreach (var item in collection)
        {
            <li>
                @item.Id
            </li>
        }
    </ul>
}
@code {
    IEnumerable<LiteFileInfo<string>> collection;
    private async Task Display()
    {
        var fs = new LiteDatabase($"{FileSystem.Current.AppDataDirectory}\\Collection.db").FileStorage;
        collection = fs.FindAll();
    }
}
